body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Specify your desired font */
    background-image: url("https://media.licdn.com/dms/image/D4D03AQFtPIY87EqliQ/profile-displayphoto-shrink_200_200/0/1706616492731?e=2147483647&v=beta&t=3u-9pShbVIbLeFJS5FWObXWP810RPk2OGDZRS8-GPV4");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Ensure full height */
  }